<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guestbook</title>
</head>
<body>
    <h1>Guestbook</h1>
    <table>
        <thead>
            <th>번호</th>
            <th>닉네임</th>
            <th>내용</th>
            <th>작성시간</th>
        </thead>
        <tbody>
            {% for id, nickname, content, datetime in articles %}
            <tr>
                <td>{{ id }}</td>
                <td>{{ nickname }}</td>
                <td>{{ content }}</td>
                <td>{{ datetime }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>방명록 작성</h3>
    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="글쓰기"></input>
    </form>
</body>
</html>